.sec_one_div {
    background: url(./img/sec_one_black_transparent_img.png) no-repeat, url(./img/sec_one_floating_island.png) no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 25em;
    /* min-height: 45em; */
}

@media screen and (min-width: 780px) {
    .sec_one_div {
        min-height: 45em;
    }
}